{% load static %}
<section class="slick-slideshow">
                <div class="slick-custom">
                    <img src="{% static 'images/majmau.jpg' %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Majmaussunna</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Old Students</p>

                                    <a href="#" class="btn custom-btn">Learn more about us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src="{% static 'images/majmau1.jpg' %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Our Mission</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Updating Soon...</p>

                                    <a href="#" class="btn custom-btn">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img style="height:auto;" src="{% static 'images/majmau2.jpg' %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Talk to us</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">we expect from you, thank you</p>

                                    <a href="#" class="btn custom-btn">With us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>