{% load static %}
<section class="slick-slideshow">
                <div class="slick-custom">
                    <img src="{% static 'images/slideshow/medium-shot-business-women-high-five.jpeg' %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Our Vision</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Do something for better tomorrow, expect all the support from you</p>

                                    <a href="about.html" class="btn custom-btn">Learn more about us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src="{% static 'images/slideshow/team-meeting-renewable-energy-project.jpeg' %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Our Mission</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Please wait until the development completes, thank you for your co-operation</p>

                                    <a href="product.html" class="btn custom-btn">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src="{% static 'images/slideshow/two-business-partners-working-together-office-computer.jpeg' %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Talk to us</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">we expect from you, thank you</p>

                                    <a href="contact.html" class="btn custom-btn">With us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>