{% load static %}
<nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" href="{% url 'home' %}">
                        <strong><span>Majmaussunna</span> Organisation</strong>
                    </a>

                    <div class="d-lg-none">
                       {% if user.is_authenticated %}
                            <a href="{% url 'login' %}" class="bi-person custom-icon me-3"></a>
                            <a href="{% url 'logout' %}" class="bi-box-arrow-right custom-icon me-3"></a>
                            {% else %}
                            <a href="{% url 'login' %}" class="bi-person custom-icon me-3"></a>
                            {% endif %}
                    </div>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'home' %}">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'registration' %}">Registration</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Services</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">FAQs</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>

                        <div class="d-none d-lg-block">
                            {% if user.is_authenticated %}
                            <a href="{% url 'login' %}" class="bi-person custom-icon me-3"></a>
                            <a href="{% url 'logout' %}" class="bi-box-arrow-right custom-icon me-3"></a>
                            {% else %}
                            <a href="{% url 'login' %}" class="bi-person custom-icon me-3"></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
<br><br><br><br>
<h5 class="disabled-text" style="color:lightgray; text-align:center; font-weight:bold;" title="This site is currently under development">
        Site is Under Development
    </h5>